<!DOCTYPE html>
<html>
<head>
  <title>Create Ticket</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.1.1/dist/css/tabler.min.css" />
</head>
<body>
    <h2>Create Ticket</h2>

    <form action="/create" method="post" enctype="multipart/form-data">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
      </div>

      <div>
        <label for="menu">Menu:</label>
        <input type="text" id="menu" name="menu">
      </div>

      <div>
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" name="phoneNumber">
    </div>

    <div>
        <label for="lineID">LINE ID:</label>
        <input type="text" id="lineID" name="lineID">
    </div>

      <div>
        <label for="category">Category:</label>
        <select id="category" name="category">
          <option value="Problem">Problem</option>
          <option value="Suggestion">Suggestion</option>
          <option value="Others">Others</option>
        </select>
      </div>

      <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>
      </div>
    
      <div>
        <label for="image">Image:</label>
        <input type="file" id="image" name="image">
      </div>
    
      <button type="submit">Create Ticket</button>
    </form>
    
    <a href="/">Back to Ticket List</a>
</body>
<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.1.1/dist/js/tabler.min.js"></script>
<script>
    function validateForm() {
      const phoneNumber = document.getElementById('phoneNumber').value;
      const phoneNumberPattern = /^0\d{8,9}$/; // Starts with 0, then 8 or 9 digits

      if (phoneNumber && !phoneNumberPattern.test(phoneNumber)) {
        alert('Phone Number must be a number starting with 0 and have 9 or 10 digits.');
        return false; // Prevent form submission
      }
      return true; // Allow form submission
    }
  </script>
</html>