<!DOCTYPE html>
<html>
<head>
  <title>Create Ticket</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.1.1/dist/css/tabler.min.css" />
</head>
<body>
    <h2>Create Ticket</h2>

    <form action="/create" method="post" enctype="multipart/form-data">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
      </div>

      <div>
        <label for="menu">Menu:</label>
        <input type="text" id="menu" name="menu">
      </div>
    
      <div>
        <label for="category">Category:</label>
        <select id="category" name="category">
          <option value="Problem">Problem</option>
          <option value="Suggestion">Suggestion</option>
          <option value="Others">Others</option>
        </select>
      </div>

      <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>
      </div>
    
      <div>
        <label for="image">Image:</label>
        <input type="file" id="image" name="image">
      </div>
    
      <button type="submit">Create Ticket</button>
    </form>
    
    <a href="/">Back to Ticket List</a>
</body>
<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.1.1/dist/js/tabler.min.js"></script>
</html>