<!DOCTYPE html>
<html>
<head>
  <title>Create Ticket</title>
</head>
<body>
  <h1>Create a New Ticket</h1>
  <form action="/create" method="POST" enctype="multipart/form-data">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" required></textarea><br><br>
    <input type="file" name="image" accept="image/*"><br><br>
    <button type="submit">Create Ticket</button>
  </form>
</body>
</html>